*.user*
*.idx
*.ilk
*.exp
*.pdb
*.obj
*.Debug
*.Release
*Makefile*
AINO/bin/debug/DBAccesser.dll
AINO/bin/debug/DBAccesser.lib
*.stash
*pro.user*
*.exe
moc_*
ui_*.h
AINO/CMainWidget/bin/debug/temp*
AINO/CMainWidget/bin/release/temp*

AINO/bin/debug/Components.dll
AINO/bin/debug/Components.lib
*.json
